<launch>

  <node name="collision_check" pkg="standalone_collision_check" type="standalone_collision_check" output="screen" >
    <param name="test_with_cube" type="bool" value="false" />
    <param name="test_with_random_joints" type="bool" value="false" />
    <param name="num_joints" type="int" value="6" />
    <param name="group_name" type="string" value="manipulator" />
    <param name="ur_topic_name" type="string" value="/ur_driver/URScript" />
    <param name="node_to_kill" type="string" value="/joy_teleop/joy_node" />
  </node>

</launch>
